<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/tufs_logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        東京外国語大学
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/en">英語</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/de">ドイツ語</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pl">ポーランド語</a>
          </li>
        </ul>
        <span class="navbar-text">ver1.2</span>
      </div>
    </div>
  </nav>
</header>
