<!doctype html>
<html lang="ja" class="h-100">
<head>
  <!-- CSSの設定ファイル -->
  <%- include('./base/partials/head'); %>
  <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
  <header><%- include('./base/partials/header'); %></header>
  <main>
    <div class="container">
      <h1 class="text-center">東外大言語モジュール（Node版）</h1>
      <div class="row">
        <div class="col">
          <h3 class="text-center"><a href="http://www.coelang.tufs.ac.jp/mt/" class="text-decoration-none link-dark">従来モジュール</a></h3>
          <div class="container">
            <div class="row">
              <div class="col flex-column links text-center">
                <ul class="list-unstyled">
                  <li><a href="/mt/en/">英語</a></li>
                  <li><a href="/mt/de/">ドイツ語</a></li>
                  <li><a href="/mt/pl/">ポーランド語</a></li>
                  <li><a href="/mt/cs/">チェコ語</a></li>
                  <li><a href="/mt/fr/">フランス語</a></li>
                  <li><a href="/mt/it/">イタリア語</a></li>
                  <li><a href="/mt/es/">スペイン語</a></li>
                  <li><a href="/mt/pt/">ポルトガル語</a></li>
                  <li><a href="/mt/ru/">ロシア語</a></li>
                  <li><a href="/mt/mn/">モンゴル語</a></li>
                  <li><a href="/mt/zh/">中国語</a></li>
                  <li><a href="/mt/ko/">朝鮮語</a></li>
                  <li><a href="/mt/id/">マレーシア語</a></li>
                </ul>
              </div>
              <div class="col flex-column links text-center">
                <ul class="list-unstyled">
                  <li><a href="/mt/ms/">マレーシア語</a></li>
                  <li><a href="/mt/tl/">フィリピノ語</a></li>
                  <li><a href="/mt/th/">タイ語</a></li>
                  <li><a href="/mt/lo/">ラオス語</a></li>
                  <li><a href="/mt/vi/">ベトナム語</a></li>
                  <li><a href="/mt/km/">カンボジア語</a></li>
                  <li><a href="/mt/my/">ビルマ語</a></li>
                  <li><a href="/mt/ur/">ウルドゥー語</a></li>
                  <li><a href="/mt/hi/">ヒンディー語</a></li>
                  <li><a href="/mt/bn/">ベンガル語</a></li>
                  <li><a href="/mt/ar/">アラビアン語</a></li>
                  <li><a href="/mt/fa/">ペルシア語</a></li>
                  <li><a href="/mt/tr/">トルコ語</a></li>
                  <li><a href="/mt/ja/">日本語</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h3 class="text-center">新モジュール</h3>
          <div class="container">
            <div class="row">
              <div class="col flex-column links text-center">
                <ul class="list-unstyled">
                  <li><a href="/mt_n/en/">英語</a></li>
                  <li><a href="/mt_n/de/">ドイツ語</a></li>
                  <li><a href="/mt_n/pl/">ポーランド語</a></li>
                  <li><a href="/mt_n/cs/">チェコ語</a></li>
                  <li><a href="/mt_n/fr/">フランス語</a></li>
                  <li><a href="/mt_n/it/">イタリア語</a></li>
                  <li><a href="/mt_n/es/">スペイン語</a></li>
                  <li><a href="/mt_n/pt/">ポルトガル語</a></li>
                  <li><a href="/mt_n/ru/">ロシア語</a></li>
                  <li><a href="/mt_n/mn/">モンゴル語</a></li>
                  <li><a href="/mt_n/zh/">中国語</a></li>
                  <li><a href="/mt_n/ko/">朝鮮語</a></li>
                  <li><a href="/mt_n/id/">マレーシア語</a></li>
                </ul>
              </div>
              <div class="col flex-column links text-center">
                <ul class="list-unstyled">
                  <li><a href="/mt_n/ms/">マレーシア語</a></li>
                  <li><a href="/mt_n/tl/">フィリピノ語</a></li>
                  <li><a href="/mt_n/th/">タイ語</a></li>
                  <li><a href="/mt_n/lo/">ラオス語</a></li>
                  <li><a href="/mt_n/vi/">ベトナム語</a></li>
                  <li><a href="/mt_n/km/">カンボジア語</a></li>
                  <li><a href="/mt_n/my/">ビルマ語</a></li>
                  <li><a href="/mt_n/ur/">ウルドゥー語</a></li>
                  <li><a href="/mt_n/hi/">ヒンディー語</a></li>
                  <li><a href="/mt_n/bn/">ベンガル語</a></li>
                  <li><a href="/mt_n/ar/">アラビアン語</a></li>
                  <li><a href="/mt_n/fa/">ペルシア語</a></li>
                  <li><a href="/mt_n/tr/">トルコ語</a></li>
                  <li><a href="/mt_n/ja/">日本語</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </main>
  <footer class="fixed-bottom"><%- include('./base/partials/footer'); %></footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.rwdImageMaps.min.js"></script>
  <script>

  </script>
</body>

</html>
