<!doctype html>
<html lang="ja">
<head>
  <%- include('./base/partials/index_head'); %>
</head>
<body>
  <header><%- include('./base/partials/header'); %></header>
  <main>
    <div class="container main">
      <h1 class="text-center">東外大言語モジュール（Node版）</h1>
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <h3 class="text-center"><a href="http://www.coelang.tufs.ac.jp/mt/" class="text-decoration-none link-dark">従来モジュール</a></h3>
          <div class="container">
            <div class="row">
              <div class="col flex-column links text-center">
                <ul class="list-unstyled">
                  <li><a href="/mt/en/">英語</a></li>
                  <li><a href="/mt/de/">ドイツ語</a></li>
                  <li><a href="/mt/pl/">ポーランド語</a></li>
                  <li><a href="/mt/cs/">チェコ語</a></li>
                  <li><a href="/mt/fr/">フランス語</a></li>
                  <li><a href="/mt/it/">イタリア語</a></li>
                  <li><a href="/mt/es/">スペイン語</a></li>
                  <li><a href="/mt/pt/">ポルトガル語</a></li>
                  <li><a href="/mt/ru/">ロシア語</a></li>
                  <li><a href="/mt/mn/">モンゴル語</a></li>
                  <li><a href="/mt/zh/">中国語</a></li>
                  <li><a href="/mt/ko/">朝鮮語</a></li>
                  <li><a href="/mt/id/">インドネシア語</a></li>
                </ul>
              </div>
              <div class="col flex-column links text-center">
                <ul class="list-unstyled">
                  <li><a href="/mt/ms/">マレーシア語</a></li>
                  <li><a href="/mt/tl/">フィリピノ語</a></li>
                  <li><a href="/mt/th/">タイ語</a></li>
                  <li><a href="/mt/lo/">ラオス語</a></li>
                  <li><a href="/mt/vi/">ベトナム語</a></li>
                  <li><a href="/mt/km/">カンボジア語</a></li>
                  <li><a href="/mt/my/">ビルマ語</a></li>
                  <li><a href="/mt/ur/">ウルドゥー語</a></li>
                  <li><a href="/mt/hi/">ヒンディー語</a></li>
                  <li><a href="/mt/bn/">ベンガル語</a></li>
                  <li><a href="/mt/ar/">アラビア語</a></li>
                  <li><a href="/mt/fa/">ペルシア語</a></li>
                  <li><a href="/mt/tr/">トルコ語</a></li>
                  <li><a href="/mt/ja/">日本語</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <h3 class="text-center">新語彙モジュール</h3>
          <div class="container">
            <div class="row">
              <div class="col flex-column links text-center">
                <ul class="list-unstyled">
                  <li><a href="./en/v/">英語</a></li>
                  <li><a href="./de/v/">ドイツ語</a></li>
                  <li><a href="./pl/v/">ポーランド語</a></li>
                  <li><a href="./cs/v/">チェコ語</a></li>
                  <li><a href="./fr/v/">フランス語</a></li>
                  <li><a href="./it/v/">イタリア語</a></li>
                  <li><a href="./es/v/">スペイン語</a></li>
                  <li><a href="./pt/v/">ポルトガル語</a></li>
                  <li><a href="./ru/v/">ロシア語</a></li>
                  <li><a href="./mn/v/">モンゴル語</a></li>
                  <li><a href="./zh/v/">中国語</a></li>
                  <li><a href="./ko/v/">朝鮮語</a></li>
                  <li><a href="./id/v/">インドネシア語</a></li>
                </ul>
              </div>
              <div class="col flex-column links text-center">
                <ul class="list-unstyled">
                  <li><a href="./ms/v/">マレーシア語</a></li>
                  <li><a href="./tl/v/">フィリピノ語</a></li>
                  <li><a href="./th/v/">タイ語</a></li>
                  <li><a href="./lo/v/">ラオス語</a></li>
                  <li><a href="./vi/v/">ベトナム語</a></li>
                  <li><a href="./km/v/">カンボジア語</a></li>
                  <li><a href="./my/v/">ビルマ語</a></li>
                  <li><a href="./ur/v/">ウルドゥー語</a></li>
                  <li><a href="./hi/v/">ヒンディー語</a></li>
                  <li><a href="./bn/v/">ベンガル語</a></li>
                  <li id="ar_list" class="d-block">アラビア語</li>
                      <ul>
                        <li><a href="./ar/v/">フスハー（標準語）</a></li>
                        <li><a href="./ar-sy/v/">シリアのアラビア語</a></li>
                      </ul>
                  <li><a href="./fa/v/">ペルシア語</a></li>
                  <li><a href="./tr/v/">トルコ語</a></li>
                  <li><a href="./ja/v/">日本語</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </main>
  <footer class="fixed-bottom"><%- include('./base/partials/footer'); %></footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $("#ar_list").click(function(){
      $(this).find("div").slideToggle();
    });
  </script>
</body>
</html>
