<!doctype html>
<html lang="ja" class="h-100">
<head>
  <!-- CSSの設定ファイル -->
  <%- include('./base/partials/head'); %>
  <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body class="">
  <head>
    <%- include('./base/partials/header'); %>
  </head>
  <div class="">
    <header>
    </header>
    <main class="main container">
      <h1 class="text-center">Hello, World!</h1>
      <div class="main-words row">
        <p>世界の言葉を比べてみよう！</p>
      </div>
      <img src="/images/地図.gif" usemap="#Maps">
      <map name="Maps">
        <area shape="poly" coords="206,352,225,345,245,346,249,374,243,385,227,383,213,375,208,372,207,372" href="/polish" alt="" />
        <!--<area shape="poly" coords="546,382,533,396,521,398,518,409,509,410,508,428,491,442,479,444,484,453,485,464,496,467,495,482,542,509,565,502,588,502,592,514,594,537,621,530,644,542,687,517,695,497,694,486,684,471,698,458,675,449,685,447,696,437,695,446,707,443,737,422,737,410,753,390,723,378,711,351,688,353,681,378,672,378,672,392,686,401,664,410,659,403,641,423,609,430,592,424,576,425,573,416,563,412,561,399,551,387,551,386" href="/chinese" alt="" />-->
      </map>
   </main>
    <footer class="fixed-bottom">
      <%- include('./base/partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.rwdImageMaps.min.js"></script>
  <script>
    $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
      });
      $(function(){
        $('area').hover(
          function() { $(this).focus().css('outline','10px solid #000'); },
          function() { $(this).blur().css('outline','none'); }
        )
      });
  </script>
</body>

</html>
