h1 {
  padding: 20px 0px;
}

.links li {
  padding-bottom: 10px;
}

.links ul {
  display: inline-block;
  text-align: left;
}
footer {
  padding-top: 50px;
}
.main {
  padding-bottom: 100px;
}
.header-title {
    font-size: 1.3rem;/* calcサポート外をフォールバック */
    font-size: calc(1.3rem + ((1vw - 0.48rem) * 0.5556));/* viewportが480px以上1200px以下可変 */
    min-height: 0vw;/* Safari用バグフィックス */
}
@media screen and (min-width: 1200px) {
  .header-title {
      font-size: 1.3rem;
  }
}
@media screen and (max-width: 480px) {
  .header-title {
    font-size: 0.85rem;
  }
}
