body {
  min-height: 100vh;/*①高さの最小値*/
  position: relative;/*②相対位置*/
}
/*ヘッダー*/
.navbar-nav li {
  display:inline;
}
.header-title {
    font-size: 1.3rem;/* calcサポート外をフォールバック */
    font-size: calc(1.3rem + ((1vw - 0.48rem) * 0.5556));/* viewportが480px以上1200px以下可変 */
    min-height: 0vw;/* Safari用バグフィックス */
}
@media screen and (min-width: 1200px) {
  .header-title {
      font-size: 1.3rem;
  }
}
@media screen and (max-width: 480px) {
  .header-title {
    font-size: 0.85rem;
  }
}
/* 折り畳み可能リストのサイドバー用 */
.sidebar-link:hover,
.sidebar-link:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.container .text-muted {
  margin: 20px 0;
}
.breadcrumb-item.active::before{
  color: white;
}
.first-item {
  padding-left: 20px;
}

.breadcrumb-item a{
  color: white;
}
.breadcrumb-item.active{
  color: white;
}
.breadcrumb {
  margin-top: 20px;
}
.card-title {
   margin-bottom: 0;
 }

.footer {
  padding-top: 30px;
}

.card {
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  padding-top: 10px;s
}

/*タブ実装*/
.tab_box .btn_area {
	margin:0 10px;
	display: -webkit-box;
	display: flex;
}

.tab_box .tab_btn {
	width: 188px;
	padding: 8px 0;
	color: #333;
	background: #f5f7f8;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.tab_box .tab_btn + .tab_btn {
	margin-left: 8px;
}

.tab_box .tab_btn:hover {
	background-color: #dce1e4;
}

.tab_box .tab_btn.active {
    background:#07539f;
    color:#fff;
}

.tab_box .panel_area {
    border: solid 1px #e3ebf3;
    padding: 20px;
}

.tab_box .tab_panel {
    display:none;
}

.tab_box .tab_panel.active {
    display:block;
}

.search-result-area {
  padding-top: 30px;
}

.result-show {
  border-spacing: 10px;
}

.jpn {
  font-size: 11px;
}

.plane, .plane2 {
  padding-top: 10px;
  font-size: 1.25rem;
}

.nondisplay {
  visibility: hidden;
}
.pagination-container {
    padding-top: 1rem;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li {
  margin-right: 1em;
}

.pagination li a {
  text-decoration: none;
  color: #000;
}

.page {
  padding: .5em;
  border: 1px solid #000;
}

.act {
  background-color: #000;
}

.pagination .act a {
  color: #fff;
}
/*オートコンプリートのサイズ調整*/
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* vmod_catego */
.vocaBox {
  min-height: 40px;
}
.voca_area1 .card-body {
  display: none;
}
.voca_area2 .card-body {
  display: none;
}
