<footer class="footer mt-auto py-3 bg-light text-center fixed-bottom">
<div class="container footer-text">
  Copyright© All rights resrved.
  <a class="text-dark" href="http://www.tufs.ac.jp/">Tokyo University of Foreign Studies.</a>
</div>
</footer>
