<!-- 折り畳み可能リストのサイドバー -->
<div class="flex-shrink-0 p-3 bg-white col-3" style="width: 280px;">
  <a href="/polish" class="link-dark d-inline-flex text-decoration-none rounded"><span class="fs-5 fw-semibold"></span></a>
  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
  </ul>
  <ul class="list-unstyled ps-0">
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#snd-collapse" aria-expanded="true">
        発音モジュール
      </button>
      <div class="collapse show" id="snd-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="./howto" class="link-dark d-inline-flex text-decoration-none rounded">利用の手引き</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#talk-collapse" aria-expanded="true">
        会話モジュール
      </button>
      <div class="collapse show" id="talk-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="./howto" class="link-dark d-inline-flex text-decoration-none rounded">利用の手引き</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#gram-collapse" aria-expanded="true">
        文法モジュール
      </button>
      <div class="collapse show" id="gram-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="./howto" class="link-dark d-inline-flex text-decoration-none rounded">利用の手引き</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#vocab-collapse" aria-expanded="true">
        語彙モジュール
      </button>
      <div class="collapse show" id="vocab-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="./vmod/howto" class="link-dark d-inline-flex text-decoration-none rounded">利用の手引き</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<!-- /折り畳み可能リストのサイドバー -->
